{% extends "email_base.html" %}
{% block content %}

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 20px;">
  Olá {{ current_user.username }},
  <br><br>
  Agora você é um assinante da RapiArt.
  Seu pagamento já foi confirmado e seu usuário já tem acesso a nossas funcionalidades.
</p>
{% endblock content %}

{% block buttons %}
<a href="{{ url_for('users.account', _external=True) }}" style="font-size: 14px; font-family: Helvetica, Arial, sans-serif; text-decoration: none; border-radius: 4px; line-height: 20px; display: inline-block; font-weight: normal; white-space: nowrap; background-color: #6200f5ff; color: #ffffff; padding: 8px 12px; border: 1px solid #6200f5ff;">
  Ver resumo do plano
</a>
<a href="{{ url_for('artes_e_telas.artes_finalizadas', _external=True) }}" style="margin-left: 10px; margin-top: 15px; font-size: 14px; font-family: Helvetica, Arial, sans-serif; text-decoration: none; border-radius: 4px; line-height: 20px; display: inline-block; font-weight: normal; white-space: nowrap; background-color: #d800c6ff; color: #ffffff; padding: 8px 12px; border: 1px solid #d800c6ff;">
  Começar a criar
</a>
{% endblock buttons %}


