{% extends "base_text.html" %}

{% block content %}

<section id="privacidade"></section>
    <div class="container">
        <h2 class="text-center">{{ title }}</h2>
        <p class="mt-5">
            Essa Política de Privacidade foi elaborada para enfatizar o compromisso do RapiArt com a transparência, 
            a segurança e a privacidade na coleta de dados e de informações dos usuários. Ela descreve como coletamos e 
            tratamos dados quando você trafega em nossos websites ou usa qualquer um de nossos produtos/serviços, 
            torna-se nosso cliente ou entra em contato com o RapiArt por email ou através de outros meios de comunicação disponíveis.
        </p>
        <p>
            Este documento foi redigido de forma simples e acessível a todos, de modo que seja permitida a compreensão acerca da coleta, 
            retificação, exclusão e tratamento dos dados e das informações fornecidas pelo usuário, a fim de garantir uma experiência 
            segura e agradável ao se utilizar dos nossos serviços.
        </p>
        <p>
            O RapiArt ratifica seu compromisso com a transparência e segurança, sempre atuando em conformidade com a legislação vigente interna e externa.
        </p>
        <p>
            Visando uma melhor compreensão do usuário, a presente Política de Privacidade é dividida da seguinte forma:
        </p>

        <ul>
            <li>Como o RapiArt coleta meus dados e informações?</li>
            <li>Quais dados o RapiArt coleta?</li>
            <li>Por que e como o RapiArt usa meus dados pessoais?</li>
            <li>A RapiArt pode compartilhar meus dados com terceiros?</li>
            <li>Quais são os meus direitos com relação aos dados coletados?</li>
            <li>Por quanto tempo meus dados ficam armazenados?</li>
            <li>Segurança dos dados</li>
            <li>Consentimento</li>
            <li>Mudanças e alterações na Política de Privacidade</li>
            <li>Legislação aplicável e jurisdição</li>
            <li>Contato</li>
            <li>Aviso legal</li>
        </ul>

        <h4>Como a RapiArt coleta meus dados e informações?</h4>
        <p>
            Quando você visita e utiliza nosso website (rapiart.com.br) e/ou qualquer outro serviço da RapiArt, 
            algumas informações poderão ser coletadas visando melhorar a experiência do usuário e viabilizar determinadas funcionalidades, 
            algumas dessas informações serão coletadas apenas se você as fornecer. Outras informações poderão ser coletadas de 
            maneira automática sem notificação prévia, como no caso de cookies.
        </p>
        <p>
            Ao navegar em nosso website (rapiart.com.br) ou utilizar os serviços prestados pela RapiArt, você concorda expressamente 
            com a coleta e tratamento de dados pessoais necessários para o fornecimento de tais serviços a você.
        </p>
        <p>
            Ainda, há determinados dados que serão coletados de acordo com os cliques em botões de compartilhamento de conteúdo disponíveis em 
            nosso website por redes sociais, ficando o usuário ciente que a RapiArt não terá acesso a informações como login e senha e essa 
            coleta não permitirá a publicação de conteúdo em nome do usuário.
        </p>
        <p>
            Nos termos previstos pela legislação, a RapiArt se resguarda do direito de coletar determinados dados e informações sem o consentimento 
            do usuário, de modo que os dados e as informações coletadas serão utilizados para os fins previstos pela respectiva legislação.
        </p>

        <h4>Quais dados a RapiArt coleta?</h4>
        <p>
            Caso o usuário apenas visite o website (rapiart.com.br), serão coletados somente dados de navegação por meio de cookies. 
            Por exemplo, usamos os cookies para identificar quantas vezes você já visitou o website, lembrar de suas preferências e buscar 
            o aprimoramento de suas experiências. Os cookies podem incluir cookies de terceiros. É permitido ao usuário alterar as configurações 
            de cookies diretamente em seu navegador.  
        </p>
        <p>
            Se o usuário interagir com os materiais e os conteúdos da RapiArt, além dos dados de navegação, outras informações e dados 
            fornecidos pelo próprio usuário também serão coletadas e processadas, tais como e-mail, nome, sobrenome, imagens e endereço de IP.
        </p>
        <p>
            Ainda, a RapiArt também pode receber dados pessoais vindos de terceiros contratados para determinadas finalidades específicas 
            (como processamento de cartões de crédito), resguardando-se também no direito de colher dados e informações de forma automática e de 
            solicitar determinados dados ao usuário para finalidades específicas se necessário, como no caso de utilização dos produtos e serviços.
        </p>
        <p>
            Ao aceitar os termos da Política de Privacidade da RapiArt e demais disposições, o usuário é o único responsável pela veracidade 
            dos dados e informações fornecidos, concordando em fornecer unicamente seus dados pessoais verídicos e legítimos.
        </p>
        <p>
            Os dados do seu cartão de crédito, quando fornecidos, no ato da assinatura, não serão processados em nossos servidores e armazenados 
            em nosso banco de dados. Tais informações serão enviadas, processadas e manipuladas diretamente pelo Stripe (serviço contratado para fins de cobrança) 
            de tal maneira que é impossível a RapiArt saber de qualquer informação sobre seu Cartão de Crédito (número do cartão e código de segurança), 
            exceto a data de validade, que estará disponível à RapiArt.
        </p>

        <h4>Por que e como a RapiArt usa meus dados pessoais?</h4>
        <p>
            A RapiArt utiliza os dados pessoais dos usuários para auxílio na operação, execução, aprimoração, compreensão e personalização dos serviços prestados, 
            sempre almejando prestar os serviços com a mais alta qualidade.
        </p>
        <p>
            Abaixo seguem algumas finalidades específicas da coleta e armazenamento dos dados: 
        </p>
        <ul>
            <li>Abertura de conta na plataforma da RapiArt</li>
            <li>Prestação e oferecimentos dos serviços</li>
            <li>Melhoria e aprimoramento dos serviços</li>
            <li>Atendimento de solicitações e dúvidas</li>
            <li>Envio de comunicados</li>
            <li>Prevenção à fraude e garantia de segurança e integridade das informações</li>
            <li>Colaboração e/ou cumprimento de ordens emanadas pelas autoridades competentes</li>
            <li>Cumprimento de obrigações legais, regulamentares, normativas e entre outras</li>
            <li>Elaboração de estatísticas, pesquisas e estudos pertinentes à atividade da RapiArt</li>
            <li>Exercício regular de direito, a fim de prevenir qualquer responsabilidade perante processos administrativos e/ou judiciais</li>
        </ul>
        <p>
            É permitido à RapiArt a coleta, o uso, a retenção e o compartilhamento de dados para os fins de atuar conforme exigido pela 
            legislação aplicável ou em processos judiciais ou administrativos e impor os Termos, demais documentos e políticas aplicáveis. 
            Igualmente, permite-se a fim de detectar, prevenir e buscar resolver atividades fraudulentas e ilícitas ou questões de segurança ou 
            técnicas, bem como com o específico fim de proteger os interesses da RapiArt, dos usuários e/ou de terceiros parceiros.
        </p>

        <h4>A RapiArt pode compartilhar meus dados com terceiros?</h4>
        <p>
            Por se tratar de uma plataforma online que oferece serviço/produto, a RapiArt poderá atuar em conjunto com outras empresas 
            para prestação do serviço. Assim, visando a máxima qualidade e satisfação do cliente, a RapiArt se resguarda no direito de 
            poder compartilhar os dados pessoais dos seus usuários.
        </p>
        <p>
            A RapiArt pode compartilhar os dados e as informações dos usuários junto a autoridades e órgãos reguladores, principalmente 
            em caso de cumprimento de ordem judiciais. Igualmente, pode haver compartilhamento de dados quando expressamente solicitado pelo usuário.
        </p>
        <p>
            Cumprindo o objetivo de transparência, segue abaixo lista de empresas parceiros que a RapiArt se resguarda no direito de realizar 
            o compartilhamento de dados:
            <ul>
                <li><b>Stripe</b>: Pagamentos via cartão de crédito. A RapiArt não armazena nenhuma informação de cartão de crédito em seus bancos de dados. 
                    Quando você assina o site, está fornecendo essas informações diretamente ao Stripe, que irá nos repassar se o pagamento foi autorizado ou não 
                    para que seu acesso seja liberado</li>
                <li><b>Google Tag Manager</b>: Seu endereço de IP e uso do site/produtos</li>
                <li><b>Google Cloud Platform</b>: Seu nome, sobrenome e endereço de email e, quando fornecido por você, seu CPF e número do celular</li>
            </ul>
        </p>
        <p>
            Quando efetuado, o compartilhamento dos dados dos usuários sempre se dará na forma e limites previstos nas legislações que regulamentam 
            a matéria, de modo a garantir a privacidade das informações. A RapiArt não aluga, vende ou transfere os dados pessoais dos usuários 
            a qualquer pessoa física ou jurídica, exceto nos casos mencionados acima.
        </p>
        <p>
            Observando as legislações brasileiras e estrangeiras, é assegurado à RapiArt a coleta e compartilhamento de informações e de dados 
            dos usuários internacionalmente, desde que se trate de empresas estrangeiras parceiras na forma exposta acima.
        </p>

        <h4>Quais são os meus direitos com relação aos dados coletados?</h4>
        <p>
            Você tem o direito de solicitar a remoção das suas informações a qualquer momento. Envie um email para "contato@rapiart.com.br" com o 
            seu pedido. Vale ressaltar que, uma vez que algumas informações são compartilhadas com serviços de terceiros visando melhorar a experiência 
            dos usuários e/ou manutenção dos serviços prestados, a RapiArt não tem a responsabilidade e/ou dever de garantir que tais informações 
            serão removidas dos respectivos serviços quando solicitado;
        </p>
        <p>
            O usuário sempre poderá optar em não divulgar seus dados para a RapiArt, ficando ciente que determinados dados podem ser necessários 
            para registro/cadastro em nossa plataforma e/ou utilização de alguns de nossos recursos e produtos que oferecemos. Os dados mencionados 
            neste item fazem referência aos pessoais dos usuários e aqueles imprescindíveis à prestação dos serviços e/ou fornecimento dos produtos.
        </p>

        <h4>Por quanto tempo meus dados ficam armazenados?</h4>
        <p>
            Os dados pessoais dos usuários e visitantes serão armazenados em período suficiente e necessário a fim de garantir a prestação dos serviços 
            e/ou cumprimento das finalidades previstas por este documento, conforme dispõe a legislação acerca do assunto.
        </p>

        <h4>Segurança dos dados</h4>
        <p>
            A RapiArt faz uso de diversos tipos de medidas de segurança para garantir a integridade de suas informações, como padrões de segurança 
            de informação praticados pela indústria, tanto na coleta quanto no armazenamento e na transmissão de tais informações.
        </p>
        <p>
            Igualmente, a RapiArt se utiliza de protocolos de segurança praticados no mercado a fim de garantir comunicação segura entre os usuários
             e os servidores, assegurando a não-exposição do usuário a determinadas atividades maliciosas. Assim, toda comunicação é realizada com 
             criptografia entre os usuários e os nossos servidores;
        </p>
        <p>
            Os dados pessoais dos usuários não possuem criptografia. Contudo, a RapiArt faz uso das medidas de proteção e de segurança necessárias 
            a fim de evitar qualquer tipo de atividade maliciosa e captura ilegal dos dados. Quando o usuário se cadastra através do e-mail e senha 
            no site, apenas a senha será criptografada.
        </p>
        <p>
            A RapiArt informa que não armazena a senha dos usuários quando o cadastro na plataforma se der pelo Facebook ou qualquer outro meio 
            intermediário (por exemplo, redes sociais e acessos terceirizados), de modo que somente o nome, o sobrenome e o e-mail dos 
            usuários serão coletados no ato do cadastro e/ou login.
        </p>

        <h4>Consentimento</h4>
        <p>
            Ao navegar pelo website, utilizar os serviços e fornecer os dados pessoais na plataforma, o usuário está consentindo com 
            todos os termos desta Política de Privacidade, aceitando-a integralmente;
        </p>
        <p>
            Caso deseje efetuar o cadastro, o usuário estará expressamente consentindo com a coleta dos dados necessários para os fins previstos 
            neste documento e consecução dos serviços prestados pela RapiArt, também se responsabilizando pela veracidade, pela legitimidade 
            e pela necessidade de atualização dos dados fornecidos;
        </p>
        <p>
            O usuário poderá retirar seu consentimento quando bem entender, bastando enviar e-mail para contato@rapiart.com.br com sua solicitação. 
            Ao retirar o consentimento, o usuário estará automaticamente sujeito à impossibilidade de acessar determinadas funcionalidades do website 
            quando o consentimento for necessário para suas realizações.
        </p>

        <h4>Mudanças e alterações na Política de Privacidade</h4>
        <p>
            À RapiArt é garantida a modificação da Política de Privacidade a qualquer tempo. Esta medida se faz necessária em razão do 
            comprometimento da RapiArt de sempre estar de acordo com as legislações vigentes e pertinentes à natureza dos seus serviços; 
        </p>
        <p>
            Assim, recomenda-se o acesso frequente e periódico a este documento para que o usuário esteja ciente de possíveis modificações 
            que possam vir a ocorrer;
        </p>
        <p>
            As modificações realizadas terão vigência imediata após publicação na plataforma.
        </p>

        <h4>Legislação aplicável e jurisdição</h4>
        <p>
            Este documento está redigido nos conformes previstos pela legislação brasileira que regulamenta a matéria, de forma que será 
            aplicado o Direito brasileiro e elegendo-se o foro da Comarca de Andradina/SP para dirimir quaisquer controvérsias 
            e/ou litígios envolvendo o presente documento e a RapiArt, ressalvadas as exceções previstas em lei.
        </p>

        <h4>Contato</h4>
        <p>
            Caso você tenha dúvidas sobre a coleta, utilização e/ou manipulação dos seus dados pela RapiArt, entre em contato através 
            do email contato@rapiart.com.br para maiores esclarecimentos. A RapiArt preza pela transparência máxima na operação do 
            website (rapiart.com.br) e/ou outros serviços e produtos oferecidos.
        </p>

        <h4>Aviso legal</h4>
        <p>
            A RapiArt não é responsável pelo uso indevido ou perda dos dados pessoais a que não tem acesso ou controle. Ficamos também 
            isentos de responsabilidade diante do uso ilegal e não autorizado dessa informação como consequência de uso indevido ou desvio 
            das suas credenciais de acesso, conduta negligente ou maliciosa como consequência de atos ou omissões por parte dos usuários ou 
            de terceiros autorizados pelo usuário.
        </p>

        <small>Última atualização: 06 de abril, 2021</small>
        <div class="mb-5"></div>
    </div>
</section>

{% endblock content %}