{% extends "base_text.html" %}

{% block head %}
<style>
    li{
        padding-top: 10px;
    }
</style>
{% endblock head %}

{% block content %}

<section id="privacidade"></section>
    <div class="container">
        <h2 class="text-center">{{ title }}</h2>
        <p class="mt-5">
            A RapiArt (empresa do grupo "HAWKIT SISTEMAS DE AUTOMAÇÃO LTDA"), inscrita no CNPJ sob nº 33.401.815/0001-31, 
            com sede na Rua Paranapanema, nº 548, bairro Stella Maris, Andradina, São Paulo, 
            CEP 16.901-170, estabelece o presente Termos de Serviço para seus usuários, conforme condições e descrições 
            abaixo:
        </p>
        <ul>
            <li>
                A RapiArt oferece a seus usuários, principalmente, serviços de informações de criação de vídeos e imagens
                de divulgação de produtos e promoções por meio de imagens, fotos e informações enviadas pelos próprios usuários, não 
                se restringindo unicamente a esta finalidade. Assim, por meio deste Termo, os usuários concordam com as 
                regras e as condições impostas para o uso dos serviços, na forma estabelecida neste Termo e demais documentos 
                disponíveis no website e/ou seus produtos.
            </li>
            <li>
                O propósito da RapiArt e sua plataforma e/ou produtos é, unicamente, auxiliar os usuários do aplicativo na criação de 
                conteúdo na forma de vídeos e imagens para divulgação de seus produtos. Não realizamos recomendações financeiras, legais,
                fiscais, contábeis ou de qualquer outra roupagem.
            </li>
            <li>
                A RapiArt não se responsabiliza pelo seu conteúdo criado pelos seus usuários, ou por quaisquer equívocos, erros, 
                atrasos, imprecisões ou omissões nas informações, ficando o usuário ciente que a utilização e a validação da 
                integralidade dos serviços/produtos fornecidos é de sua inteira responsabilidade. Ainda, a RapiArt ressalta seu 
                compromisso com a transparência e legalidade, sempre observando as legislações pertinentes à propriedade intelectual 
                e direitos autorais.
            </li>
            <li>
                A RapiArt e/ou seus parceiros não possuem responsabilidade de qualquer natureza por perdas ou danos, de forma direta 
                ou indireta, que decorram de erro, imprecisão, parcialidade, ausência, atraso, interrupção ou omissões no fornecimento 
                de dados e de informações relacionadas ao website ou qualquer um de seus produtos sob qualquer plataforma;.
            </li>
            <li>
                É assegurado à RapiArt, a qualquer tempo, a modificação da forma e do conteúdo, suspensão ou cancelamento dos serviços, 
                dos produtos, das utilidades e ferramentas prestadas no site. Ainda, a RapiArt resguarda-se no direito de atualizar e 
                de modificar periodicamente as informações, não devendo ser interpretadas como definitivas pelo usuário.
            </li>
            <li>
                Todo conteúdo, informações, vídeos e imagens criadas e todas criações feitas pelos usuários é de total responsabilidade 
                do usuário que as criou, assim como seus direitos autoraios. Sendo assim, o usuário assume toda e qualquer responsabilidade 
                civil e criminal pelo uso indevido dos serviços e produtos fornecidos pela RapiArt e seus parceiros.
            </li>
            <li>
                Caso seja constatado que o usuário está violando os Termos de Serviço sob qualquer forma, é permitido à RapiArt o 
                cancelamento da assinatura e/ou bloqueio do acesso a qualquer dos produtos ofertados de forma temporária, 
                permanente e inclusive em caráter preventivo.
            </li>
            <li>
                Fica explicitamente proibido o uso de qualquer instrumento de automação (software, scripts, plataformas de terceiros, 
                mas não limitado a estes) para extração, análise ou qualquer tipo de manipulação dos dados presentes na plataforma e em 
                qualquer um de seus produtos para quaisquer fins, ficando o usuário ciente que caso venha a praticar qualquer conduta 
                aqui exposta será responsabilizado civil e criminalmente pelos seus atos.
            </li>
            <li>
                O cadastro é pessoal, único, intransferível e de uso e responsabilidade exclusiva do usuário, sendo proibido o 
                compartilhamento da sua conta/senha com terceiros, independente do vínculo ou grau de parentesco e da finalidade 
                (comercial, educativa e entre outras).
            </li>
            <li>
                Determinadas funcionalidades do nosso site e da nossa plataforma somente serão disponibilizadas mediante cadastro 
                e/ou pagamento, de modo que o usuário sempre será alertado de quando o serviço que está tentando acessar necessita de 
                cadastro e/ou pagamento, oportunizando-o escolher se deseja pagar pelo respectivo serviço/produto.
            </li>
            <li>
                A RapiArt não se responsabiliza por qualquer dano gerado em seu computador (softwares e hardwares) resultante 
                dos nossos serviços, sendo de inteira responsabilidade do usuário a utilização de medidas de segurança para os devidos fins. 
            </li>
            <li>
                O site e os serviços da RapiArt estão sujeitos a eventuais falhas técnicas, interrupções e/ou indisponibilidades de 
                funcionamento temporário, de forma que a RapiArt se exime de qualquer responsabilidade advinda pelos danos gerados 
                em decorrência das situações informadas.
            </li>
            <li>
                O conteúdo dos comentários publicados no website e/ou blog da RapiArt e/ou qualquer um de seus produtos são de única e 
                exclusiva responsabilidade de quem os publicou, não expressando, em nenhuma hipótese, que é a opinião da RapiArt ou 
                seus parceiros.
            </li>
            <li>
                A RapiArt pode excluir, integral ou parcialmente, determinado comentário quando entender que seu conteúdo viola qualquer 
                norma prevista pela legislação ou pelos Termos de Serviço e Política de Privacidade, bem como demais documentos integrantes 
                do website e/ou qualquer um de seus produtos e serviços.
            </li>
            <li>
                Caso o usuário reitere sua conduta de publicar comentários ofensivos, desrespeitosos, fraudulentos, com caráter publicitário 
                ou sob qualquer outra forma indevida e em nítido descompasso com a legislação vigente e as normas da RapiArt, ele poderá 
                ter sua permissão de comentar cancelada.
            </li>
            <li>
                Por meio deste Termos de Serviço, o usuário reconhece que a RapiArt e seus parceiros não possuem responsabilidade de 
                qualquer natureza com relação aos fatos e situações explicitados neste documento e na Política de Privacidade.
            </li>
            <li>
                A RapiArt se resguarda no direito de, a qualquer tempo e sem aviso prévio, modificar estes Termos de Serviço a fim de 
                acordo com sua vontade, sempre buscando ficar alinhado às normas de Direito nacional e internacional que regulam a matéria. 
                Ainda, as modificações que vierem a ocorrer terão vigência imediata a partir da divulgação no website e/ou outras plataformas. 
                Portanto, o usuário fica desde já advertido que deve acessar frequentemente este documento a fim de estar ciente das possíveis 
                modificações.
            </li>
            <li>
                Nos casos omissos deste Termos de Serviço, aplicar-se-á subsidiariamente a Política de Privacidade prevista no website e/ou 
                em qualquer um de seus produtos e serviços, naquilo que for cabível.
            </li>
        </ul>

        <small>Última atualização: 06 de abril, 2021</small>
        <div class="mb-5"></div>

    </div>
</section>

{% endblock content %}