video {
  max-width: 100%;
  height: auto;
}

.audio-player{
  min-width: 200px;
  max-width: 100%;
}
.audio-player:focus{
  outline: none;
}

#icone-arte-gerada {
  font-size: 8em;
  color: rgb(31, 90, 167);
  text-shadow: 1px 1px 1px #ccc;
}

p {
    height: 2.5em;
}

.botton-btn {
    width: 150px;
}

.accordion-body{
    background-color: #f8f8ff;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.line-break {
  display: block;
  width: 100%;
  height: 20px;
}

.main-accordion-body{
  background-color: #ffffff;
}

.fa {
  font-size: 12px;
}

.h2 {
  color: #444;
  font-family: 'PT Sans', sans-serif
}

#icon-header {
  font-size: 20px;
}


.table tbody td:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px
}

#description{
  font-size: 0.7em;
}

button[name="header-btn"] {
  width:100%;
  display:block;
}

.modal-input{
  width: 100%;
}

.loading{
  width: 180px;
  height: 180px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 10px solid #e74c3c;
  position: relative;
  animation: a1 2s linear infinite;
}

.loading::before,.loading::after{
  content: '';
  width: 180px;
  height: 180px;
  position: absolute;
  left: 0;
  top: -10px;
  box-sizing: border-box;
  border-radius: 50%;
}

.loading::before{
  border-top: 10px solid #e67e22;
  transform: rotate(120deg);
}

.loading::after{
  border-top: 10px solid #3498db;
  transform: rotate(240deg);
}

.loading span{
  position: absolute;
  width: 180px;
  height: 180px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 180px;
  animation: a2 2s linear infinite;
}

@keyframes a1 {
  to{
    transform: rotate(360deg);
  }
}

@keyframes a2 {
  to{
    transform: rotate(-360deg);
  }
}

/* xs */
#img-ilustracao {
  max-width: 90%;
  height: auto;
}
/* sm */
@media (min-width: 768px) {
  #img-ilustracao {
    max-width: 80%;
  }
}
/* md */
@media (min-width: 992px) {
  #img-ilustracao {
    max-width: 60%;
  }
}
/* lg */
@media (min-width: 1200px) {
  #img-ilustracao {
    max-width: 50%;
  }
}

.video-js-responsive-container.vjs-hd {
  padding-top: 56.25%;
}
.video-js-responsive-container.vjs-sd {
  padding-top: 75%;
}
.video-js-responsive-container {
  width: 100%;
  position: relative;
}
.video-js-responsive-container .video-js{
  height: auto !important; 
  width: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}
.video-js-responsive-container video{
    min-width: 100%;
    min-height: 100%;
    /*object-fit: fill; /*Added property*/
}

.audio-select{
  border:1px solid #000;
  max-height:150px;
  max-width:400px;
  min-width: 200px;
  width: 100%;
}
.audio-select ul{
  list-style:none;
  max-height:125px;
  max-width: 100%;
  margin:auto;
  overflow:auto;
  padding:0;
  text-indent:10px;
  background-color: white;
}
.audio-select li{
  line-height:25px;
  cursor: pointer;
}
.audio-select li:focus{
  background: rgb(201, 201, 201);
}
.audio-select li:hover{
  display: block;
  color: black;
  background-color: #e4e6e8;
}

.audio-select .item_highlight{
    display: block;
    color: black;
    background-color: #e4e6e8;
    font-weight: 600;
}

.btn-share{
  min-width: 200px;
  max-width: 200px;
  margin-right: 10px;
}
